# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# SQLite DB
*.db
*.sqlite
*.sqlite3

# Uvicorn logs
*.log

# Coverage
.coverage
coverage.xml
htmlcov/
